<template name="associatesView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'associatesIndex'}}">Associates</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View Associates #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'associatesIndex'}}" class="btn btn-default">Back</a>
                <a href="{{pathFor 'associatesUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
<td><b>Name</b></td>
<td>{{name}}</td>
</tr>
<tr>
<td><b>Title</b></td>
<td>{{title}}</td>
</tr>
<tr>
<td><b>Description</b></td>
<td>{{description}}</td>
</tr>
<tr>
<td><b>Facebook</b></td>
<td>{{facebook}}</td>
</tr>
<tr>
<td><b>Twitter</b></td>
<td>{{twitter}}</td>
</tr>
<tr>
<td><b>Linkedin</b></td>
<td>{{linkedin}}</td>
</tr>
<tr>
<td><b>Website</b></td>
<td>{{website}}</td>
</tr>

               <tr>
                    <td><b>Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                </tr>               
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>
            </tbody>
        </table>
        {{/with}}
    </div>
</template>
