<template name="contactIndex">
  <div class="container">

  <div class="row">
    <div class="col s6">
      <h3>-- Get in touch</h3>
      <p>
        <a href="#">email</a>
        <a href="#">phone</a>
      </p>
      <br/>
      <p>
        <a href="#">address</a>
      </p>

      <br/>
      {{> socialLinks }}

    </div>
    <div class="col s6">
      <img src="" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{> contactForm }}
    </div>
  </div>

</div>

</template>


<template name="socialLinks">
  <a href="#">Facebook</a>
  <a href="#">Instagram</a>
  <a href="#">Twitter</a>
  <a href="{{username}}">LinkedIn</a>
</template>
