<template name="contactIndex">
  <div class="container dark-container">

    {{>header text="Contact Us"}}
    <div class="row">
      <div class="col s6">
        <h3 class="content-title">— Get in touch</h3>
        {{#if this.data.models.email}}

        <a href="#">{{this.data.models.email}}</a>
        <br>
        {{/if}}
        {{#if this.data.models.phone}}
        <a href="#">{{this.data.models.phone}}</a>
        <br>
        {{/if}}
        <br/>
        <p>
          {{#if this.data.models.address}}

          <a href="#">{{this.data.models.address}}</a>
          {{/if}}

        </p>

        <br/>
        {{> socialLinks data=this.data.models}}

      </div>
      <div class="col s6">
        <img style="flex:1;" src="images/contact.jpg" alt="" />
      </div>
    </div>

    <!-- {{> contactFormBasic}} -->
  </div>

</template>

<template name="contactFormBasic">
  <div class="row">
    <div class="col s12 m6">
      {{> contactForm }}
    </div>
  </div>

</template>

<template name="socialLinks">
  <div class="social-links">
    {{#if data.instagram}}
    <a target="_blank" class="facebook-instagram" href={{data.instagram}}><i class="fa fa-instagram" aria-hidden="true"></i></a>
    {{/if}}

    {{#if data.facebook}}
    <a target="_blank" class="facebook-icon" href={{data.facebook}}><i class="fa fa-facebook" aria-hidden="true"></i></a>
    {{/if}}

    {{#if data.twitter}}
    <a target="_blank" class="twitter-icon" href={{data.twitter}}><i class="fa fa-twitter" aria-hidden="true"></i></a>
    {{/if}}

    {{#if data.linkedin}}
    <a target="_blank" class="linkedin-icon" href={{data.linkedin}}><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    {{/if}}
  </div>
</template>
