<template name="templateBasicFooter">
    <footer class="meteoris-footer">
        <div class="container text-center">
          <div class="row">
            {{> upArrow color="black"}}

          </div>

          <div class="row">
            <div class="col s4">
              {{> socialLinks data=social}}
            </div>
            <div class="col s4">


            <span class="copyright">copyright &copy;{{ year }}
            <a href="http://www.piyiku.biz" target="_blank">Jessica Covi</a>.
            <br/>Powered by <a href="https://baconbrix.com/" target="_blank">Evan</a></span>
            <br/>
              <!-- {{ username }} -->
              {{#unless isAdmin}} | <a href="{{pathFor route='atSignIn'}}">Sign In</a>{{/unless}}
            </div>
            <div class="col s4">
              {{#if social.address}}
                <p>
                  {{social.address}}
                </p>
              {{/if}}
            </div>

          </div>


        </div>
    </footer>
</template>

<template name="upArrow">
  <a href="#intro" class="black-text" id="up" >
    <i class="black-text fa pulsate_up_down fa-arrow-circle-o-up" aria-hidden="true" style="font-size: 3rem;"></i>
    <br/>
    Up</a>
</template>

<template name="downArrow">
  <a href="{{target}}" class="black-text" id="down" >
    <i class="black-text fa pulsate_down fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 3rem;"></i>
  </a>
</template>
