<template name="templateBasicHeader">
  <div class="navbar-fixed">

    <nav class="meteoris-navbar navbar navbar-default black-text" role="navigation">
      <div class="nav-wrapper">

        <ul id="nav-mobile" class="left hide-on-med-and-down">
          {{#if app 'activateMugen'}}
          <li><a data-activates="slide-out" class="button-collapse show-on-large" href="#!"><i class="material-icons">menu</i></a></li>
          {{/if}}
        </ul>

        <a href="{{pathFor 'sitesIndex'}}" class="brand-logo center">JESS</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
          <li><a href="{{pathFor 'workIndex'}}">Work</a></li>
          <li><a href="{{pathFor 'philosophyIndex'}}">Philosophy</a></li>
          <li><a href="{{pathFor 'contactIndex'}}">Contact</a></li>
          <li><a href="{{pathFor 'atelierIndex'}}">Atelier</a></li>
        </ul>

        <!-- <ul class="right hide-on-med-and-down">
        <li><a href="{{pathFor 'contactIndex'}}"><i class="fa fa-instagram" style="font-size: 2.3rem;" aria-hidden="true"></i></a></li>
      </ul> -->

      {{#if app 'activateMugen'}}

      <ul id="slide-out" class="side-nav">
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Edit <span class="caret"></span></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="{{pathFor 'slidesIndex'}}">Slides / Home</a></li>
                  <li><a href="{{pathFor 'worksIndex'}}">Works / Portfolio</a></li>
                  <li><a href="{{pathFor 'philosophiesIndex'}}">Philosophies / About</a></li>
                  <li><a href="{{pathFor 'articlesIndex'}}">Articles / News</a></li>

                  <li><a href="{{pathFor 'usersIndex'}}">Users / Contact</a></li>

                  <li><a href="{{pathFor 'postsIndex'}}">Posts</a></li>
                  <li><a href="{{pathFor 'jobsIndex'}}">jobs</a></li>
                  <li><a href="{{pathFor 'studentsIndex'}}">Students</a></li>
                  <li><a href="{{pathFor 'usersProfile'}}">Profile</a></li>
                  <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <a class="collapsible-header">Configure <span class="caret"></span></a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/mugen">Crudss Generator</a></li>
                            <li><a href="{{pathFor 'mugenRoleActionsManage'}}">Role</a></li>
                            <li><a href="{{pathFor 'mugenRoleCollections'}}">Role Collection</a></li>
                            <li><a href="{{pathFor 'mugenRoleGroups'}}">Role Group</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>


        {{#if currentUser}}
        <li id="btnLogout"><a class="red-text" href="#">Logout</a></li>
        {{else}}
        <li><a href="{{pathFor 'usersLogin'}}">Login</a></li>
        {{/if}}

      </ul>
      {{/if}}


    </div><!-- /.container-fluid -->
  </nav>
</div>
</template>
